In [ ]:
!sudo add-apt-repository -y ppa:dqlite/stable

In [ ]:
!sudo apt update

In [ ]:
!sudo apt-get install -y sqlite3

In [ ]:
!sqlite3 --version

In [ ]:
!pip install ipython-sql

In [ ]:
# %%sql
# -- criando tabela de person
# CREATE TABLE precos_combustiveis
#   (ano INTEGER,
#   sigla_uf VARCHAR(255),
#   id_municipio VARCHAR(255),
#   bairro_revenda VARCHAR(255),
#   cep_revenda VARCHAR(255),
#   endereco_revenda VARCHAR(255),
#   cnpj_revenda VARCHAR(255),
#   nome_estabelecimento VARCHAR(255),
#   bandeira_revenda VARCHAR(255),
#   data_coleta DATE,
#   produto VARCHAR(255),
#   unidade_medida VARCHAR(255),
#   preco_compra FLOAT,
#   preco_venda FLOAT
# );

In [ ]:
# %%sql
# -- criando tabela 
# -- ano	sigla_uf	id_municipio	tempo_medio_deslocamento	prop_deslocamento_acima_1_hora
# CREATE TABLE tempo_deslocamento_casa_trabalho
#   (ano INTEGER,
#   sigla_uf VARCHAR(255),
#   id_municipio VARCHAR(255),
#   tempo_medio_deslocamento INTEGER,
#   prop_deslocamento_acima_1_hora FLOAT
#   );